@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-caurosel::-webkit-scrollbar {
  height: 0.5rem;
}
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-inline: 1em;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: #878787;
  border-radius: 100vw;
}
scrollbar-hidden::-webkit-scrollbar-track {
  @apply bg-slate-50;
}
.scrollbar-hidden::-webkit-scrollbar-thumb {
  @apply bg-transparent;
}
.scrollbar-hidden:hover::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}
