@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color: #DB4444,
  --gray-color: #808080,
  --ligth-gray: #F2F2F2,
}

.custom-caurosel{
  display: inline-flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.custom-caurosel::-webkit-scrollbar{
  height: .5rem;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background: #dedede;
  border-radius: 100vw;
  margin-inline: 1em;
}
::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 100vw;
  
}
::-webkit-scrollbar-thumb:hover {
  background: #878787;
  border-radius: 100vw;
}